.choicecontainer {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.inner {
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 1px 6px hsl(226, 19%, 77%, 0.6);
}

.outer {
    position: relative;
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    
}
.line {
    left: 40%;
    top: 40%;
    position: absolute;
    width: 80px;
    height: 20px;
    background-color:#16243D;
}
.right {
    z-index: -1;
    left: 53%;
    top: 100%;
    transform: rotate(-60deg);
}

.left {
    z-index: -1;
    left: 25%;
    top: 100%;
    transform: rotate(60deg);
}
.blue {
    background-color:#4A66F3;
    box-shadow: inset 1px -6px  #3348c2
}
.red {
    background-color:#D82E51;
    box-shadow: inset 1px -6px  #9C1734;
}
.yellow {
    background-color:#E8A213;
    box-shadow: inset 1px -6px  #C46C19;
}

.twofirsts {
    position: relative;
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lastone {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 400px ){
    .choicecontainer {
        margin-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 17px;
    }
    
    .inner {
        display: flex ;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        background-color: white;
        border-radius: 50%;
        box-shadow: inset 1px 6px hsl(226, 19%, 77%, 0.6);
    }
    
    .outer {
        display: flex ;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        
    }
    .right {
        z-index: -1;
        left: 48%;
        top: 100%;
        transform: rotate(-60deg);
    }
    
    .left {
        z-index: -1;
        left: 25%;
        top: 100%;
        transform: rotate(60deg);
    }
}

@media(width > 850px){

    .choicecontainer {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .choicecontainer img {
        width: 81px;
    }
    .inner {
        display: flex ;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 180px;
        background-color: white;
        border-radius: 50%;
        box-shadow: inset 1px 8px hsl(226, 19%, 77%, 0.6);
    }
    
    .outer {
        position: relative;
        display: flex ;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        
    }
    .twofirsts {
        position: relative;
        gap: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line {
        left: 40%;
        top: 40%;
        position: absolute;
        width: 150px;
        height: 19px;
        background-color:#16243D;
    }
    .right {
        z-index: -1;
        left: 52%;
        top: 100%;
        transform: rotate(-60deg);
    }
    
    .left {
        z-index: -1;
        left: 22%;
        top: 100%;
        transform: rotate(60deg);
    }
    .blue {
        box-shadow: inset 1px -10px  #3348c2;
    }
    .red {
        box-shadow: inset 1px -10px  #9C1734;
    }
    .yellow {
        box-shadow: inset 1px -10px  #C46C19;
    }
    .two {
        width: 100%;
        margin-top: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .two .twofirsts{
        gap: 375px;
    }
    .two img {
        width: 100px;
    }
    .two .inner {
        display: flex ;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 230px;
        background-color: white;
        border-radius: 50%;
        box-shadow: inset 1px 8px hsl(226, 19%, 77%, 0.6);
    }
    
    .two .outer {
        position: relative;
        display: flex ;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        
    }  .two .glow {
        width: 300px;
        height: 300px;
        box-shadow: 0px 0px 0px 60px rgba(255,255,255,0.03),0px 0px 0px 130px rgba(255,255,255,0.02),0px 0px 0px 220px rgba(255,255,255,0.02);

    }
    .two .picked {
        font-size: 25px;
        top: -110px
    }
}